.vs
.gitignore
pp.md

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# React
node_modules/
dist/
*.log
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.so
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db